body {
    font-family: Arial, sans-serif;
    color: rgb(209, 213, 219);
    background-color: rgb(17,24,39);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    overflow-wrap: break-word;
}
.toolbar{
    position: absolute;
    width: 1949px;
    height: 104px;
    left: -29px;
    top: -1px;

    background: linear-gradient(112.27deg, rgba(244, 157, 95, 0.25) 7.01%, rgba(164, 190, 225, 0.13) 98.87%);
    box-shadow: 0px 4px 26px 6px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 0px 0px 20px 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.age_input label,
.age_input input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select,
input[type="text"] {
    width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.response-form {
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
}
