.input_form{
    border: solid;
    padding: 20%;

}
body{
    color: rgb(209, 213, 219);
    background-color: rgb(17, 24, 39);
    border : hidden;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%
}