<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced Input</title>
</head>

<body>
    <form action="/submit_advanced" method="post">
        <label for="Age">Age : </label>
        <label for="toddler">Toddler</label>
        <input type="radio" id="toddler" name="age" value="kid">
        <label for="adult">Adult</label>
        <input type="radio" id="adult" name="age" value="adult">
        <label for="old">Old</label>
        <input type="radio" id="old" name="age" value="old">

        <br>

        <label for="Neuroticism_input">Neuroticism : </label>
        <label for="depressed">Depressed</label>
        <input type="radio" id="depressed" name="neuro" value="depressed">
        <label for="mildly_unstable">Mildly Unstable</label>
        <input type="radio" id="mildly_unstaable" name="neuro" value="mildly instable">
        <label for="happy">Happy</label>
        <input type="radio" id="happy" name="neuro" value="disorganized">

        <br>

        <label for="Cons">Cons : </label>
        <label for="Very_Carefull">Very Carefull</label>
        <input type="radio" id="Very_carefull" name="cons" value="very careful">
        <label for="disorganised">Very Carefull</label>
        <input type="radio" id="disorganised" name="cons" value="disorganized">

        <br>

        <label for="Openness">Openness : </label>
        <label for="Detective">Detective</label>
        <input type="radio" id="Detective" name="secret" value="detective">
        <label for="average">Average</label>
        <input type="radio" id="Detective" name="secret" value="average">
        <label for="no_secret">No Secreet</label>
        <input type="radio" id="no_secret" name="secret" value="very open">

        <br>

        <label for="extravertness">Extravertness : </label>
        <label for="Extrovert">Extrovert</label>
        <input type="radio" id="Extrovert" name="extra" value="extrovert">

        <label for="Introvert">Introvert</label>
        <input type="radio" id="Introvert" name="extra" value="introvert">

        <label for="Ambivert">Ambivert</label>
        <input type="radio" id="Ambivert" name="extra" value="ambivert">

        <br>

        <label for="recipe">Recipe</label>
        <input type="text" id="recipe" name="recipe" placeholder="Enter your recipe">

        <br>
        <input type="submit">
        <input type="reset">
    </form>
</body>

</html>