<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feeling selection</title>
    <link href="/style/css/feeling_style.css" rel="stylesheet">
</head>
<body>
    <form action="/submit_personality" method="post">
        <div class="input_personality_form">
            <button onclick="input_personality('emotion 1')"  value="Sass_Queen_Regina" class="input_personality_button">Sass Queen Regina</button>
            <button onclick="input_personality('emotion 2')" value="passive-aggressive-snape" class="input_personality_button">Passive Aggressive Snape</button>
            <br>
            <button onclick="input_personality('emotion 3')" value="overly-happy-geet" class="input_personality_button">Overly Happy Geet</button>
            <button onclick="input_personality('emotion 4')" value="sad" class="input_personality_button">Sad</button>
        </div>
        <script>
            function input_personality( emotion){
                document.getElementById("personality_input").value = emotion;

                document.querySelector("form").submit();
            }
        </script>
        <input id="personality_input" value="" type="hidden" name="personality">
    </form>
</body>
</html>